<div class="container">

    <h2>Air Conditioner</h2>

    <div class="m-row clearfix">
        <div class="m-label">Power</div>
        <div class="m-value">
            <div class="form-check form-switch  checkbox-lg">
                <input class="form-check-input" type="checkbox" role="switch" ng-model="acProperties.power">
            </div>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Current Temperature</div>
        <div class="m-value">{{acProperties.currentTemperature}}°C</div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Set Temperature</div>
        <div class="m-value">
            <button type="button" class="btn btn-primary" style="width: 40px;" ng-click="increaseTemperature()">+</button>
            <span style="padding: 0 10px;">{{acProperties.temperature}}°C</span>
            <button type="button" class="btn btn-primary" style="width: 40px;" ng-click="decreaseTemperature()">-</button>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Fan Speed [{{acProperties.fanSpeed}}]</div>
        <div class="m-value">
            <input type="radio" class="btn-check" ng-model="acProperties.fanSpeed" value="low" id="fanSpeed_option1" autocomplete="off">
            <label class="btn btn-primary" for="fanSpeed_option1">Low</label>

            <input type="radio" class="btn-check" ng-model="acProperties.fanSpeed" value="medium" id="fanSpeed_option2" autocomplete="off">
            <label class="btn btn-primary" for="fanSpeed_option2">Medium</label>

            <input type="radio" class="btn-check" ng-model="acProperties.fanSpeed" value="high" id="fanSpeed_option3" autocomplete="off">
            <label class="btn btn-primary" for="fanSpeed_option3">High</label>

            <input type="radio" class="btn-check" ng-model="acProperties.fanSpeed" value="auto" id="fanSpeed_option4" autocomplete="off">
            <label class="btn btn-primary" for="fanSpeed_option4">Auto</label>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Mode</div>
        <div class="m-value">{{acProperties.mode}}</div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Swing Vertical [{{acProperties.swingVert}}]</div>
        <div class="m-value">
            <input type="radio" class="btn-check" ng-model="acProperties.swingVert" value="default" id="swing_option1" autocomplete="off">
            <label class="btn btn-primary" for="swing_option1">None</label>

            <input type="radio" class="btn-check" ng-model="acProperties.swingVert" value="full" id="swing_option2" autocomplete="off">
            <label class="btn btn-primary" for="swing_option2">Full</label>
            
            <input type="radio" class="btn-check" ng-model="acProperties.swingVert" value="fixedTop" id="swing_option3" autocomplete="off">
            <label class="btn btn-primary" for="swing_option3">Fixed Top</label>

            <input type="radio" class="btn-check" ng-model="acProperties.swingVert" value="fixedMidTop" id="swing_option4" autocomplete="off">
            <label class="btn btn-primary" for="swing_option4">Fixed Mid Top</label>

            <input type="radio" class="btn-check" ng-model="acProperties.swingVert" value="fixedBottom" id="swing_option5" autocomplete="off">
            <label class="btn btn-primary" for="swing_option5">Fixed Bottom</label>

            <input type="radio" class="btn-check" ng-model="acProperties.swingVert" value="fixedMidBottom" id="swing_option6" autocomplete="off">
            <label class="btn btn-primary" for="swing_option6">Fixed Mid Bottom</label>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Lights</div>
        <div class="m-value">
            <div class="form-check form-switch checkbox-lg">
                <input class="form-check-input" type="checkbox" role="switch" ng-model="acProperties.lights">
            </div>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Turbo</div>
        <div class="m-value">
            <div class="form-check form-switch checkbox-lg">
                <input class="form-check-input" type="checkbox" role="switch" ng-model="acProperties.turbo">
            </div>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Sleep</div>
        <div class="m-value">
            <div class="form-check form-switch checkbox-lg">
                <input class="form-check-input" type="checkbox" role="switch" ng-model="acProperties.sleep">
            </div>
        </div>
    </div>

    <div class="m-row clearfix">
        <div class="m-label">Quiet</div>
        <div class="m-value">
            <div class="form-check form-switch checkbox-lg">
                <input class="form-check-input" type="checkbox" role="switch" ng-model="acProperties.quiet">
            </div>
        </div>
    </div>

</div>